// BEM naming convention: https://getbem.com/naming/
.site-main {
    display: grid;
    background-color: azure;
    padding: 2rem 10rem;
    grid-template:
      "header header" 10%
      "main-article new-articles" 70%
      "top-articles top-articles" 20%
      / 2fr 1fr
}

div {
    background-color: aquamarine;
}

.site-main__header {
    background-color: rgb(238, 128, 128);
    grid-area: header;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-main__main-article {
    grid-area: main-article;
}

.site-main__new-articles {
    grid-area: new-articles;
}

.site-main__top-articles {
    grid-area: top-articles;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}