// BEM naming convention: https://getbem.com/naming/
// SASS folder structure: https://dev.to/dostonnabotov/a-modern-sass-folder-structure-330f

// Imports
@import 'abstracts/colors';
@import 'base/reset';

body {
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 0.75rem;
    color: rgb(81, 81, 81);
}

.site-main {
    margin: auto auto;/* centers items horizontally */
    border: solid 1px black;
    width: 80vw;
    display: grid;
    padding: 3rem 10rem;
    grid-template:
      "header header" min-content
      "main-article new-articles" min-content
      "top-articles top-articles" 150px
      / 2fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
}

div, header {
    border: solid 1px lightblue;
}

// Header area
.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__nav-list {
    display: flex;
    flex-direction: row-reverse;
}

// Main article area
.main-article {
    grid-area: main-article;
    display: grid;
    grid-template:
      "main-article__image main-article__image" auto
      "main-article__title main-article__content" auto
      / 1fr 1fr;
    gap: 1rem;

    &__image {
        grid-area: main-article__image;
    }

    &__title {
        grid-area: main-article__title;
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 3rem;
        // padding: 1.5rem 1rem;
        line-height: 0.9;
        padding-right: 4rem;
    }

    &__content {
        grid-area: main-article__content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__button {
        border-radius: 0.05rem;
        background-color: $main-accent-color;
        width: 45%;
        margin-top: 1rem;
    }
}

// New articles area (right side of page)
.new-articles {
    grid-area: new-articles;
}

// Top articles area (bottom of page)
.top-articles {
    grid-area: top-articles;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;

    &__card { // main container
        display: flex;
        gap: 1rem;
        max-height: 100%;
        max-width: none !important;
    }

    &__image {
        max-height: 100%;
        max-width: none !important;
        object-fit: contain;
    }

    &__text { 
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
    }

    &__number {
        font-size: 2rem;
        font-weight: bolder;
        color: $main-accent-color;
    }

    &__title {
        font-size: 1rem;
        font-weight: bold;
    }

    &__paragraph {
        //
    }
}