// BEM naming convention: https://getbem.com/naming/

// Imports
@import 'base/reset';


.site-main {
    display: grid;
    padding: 2rem 10rem;
    grid-template:
      "header header" auto
      "main-article new-articles" auto
      "top-articles top-articles" auto
      / 2fr 1fr
}

div {
    border: solid;
}

// Header area
.site-main__header {
    border: solid;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__nav-list {
    display: flex;
    flex-direction: row-reverse;
}

// Main article area
.site-main__main-article {
    grid-area: main-article;
    display: grid;
}

.main-article__title {
    font: 3rem;
}


// New articles area (right side of page)
.site-main__new-articles {
    grid-area: new-articles;
}


// Top articles area (bottom of page)
.site-main__top-articles {
    grid-area: top-articles;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}