$main-accent-color: hsl(5, 85%, 63%);
$secondary-accent-color: hsl(35, 77%, 62%);
$text-color: hsl(0, 0%, 37%);
$text-color-inverse-color: rgb(153, 153, 153);
$dark-dark-dark-blue: hsl(240, 100%, 5%)

